<h2 mat-dialog-title>{{dialogTitle}}</h2>
<div class="tricky-container">
  <mat-dialog-content>
    <div class="content-container">
      <span class="first-line" [ngClass]="{'warn-color-dark' : appService.isDarkTheme, 'warn-color-light' : !appService.isDarkTheme}"><mat-icon class="mat-icon-rtl-mirror warning-icon">warning</mat-icon>{{dialogMessageFirstLine}}<mat-icon class="mat-icon-rtl-mirror warning-icon">warning</mat-icon></span>
      <span class="second-line">To confirm, type in "{{confirmString}}" below</span>
      <mat-form-field>
        <mat-label>Type in exactly as above</mat-label>
        <input appBlockPaste type="text" [placeholder]="confirmString ? confirmString : ''" matInput [formControl]="confirmInput">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="button-container">
    <button mat-button [disabled]="confirmString !== confirmInput.value" color="primary" (click)="dialogRef.close(true)">Confirm</button>
    <button mat-raised-button color="warn" (click)="dialogRef.close(false)" class="cancel-button"><mat-icon class="mat-icon-rtl-mirror dialog-action-icons">close</mat-icon>Cancel</button>
  </mat-dialog-actions>
</div>
