.tricky-container{
  width: 500px;

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .first-line {
    font-size: 1.1em;
    margin-bottom: 4px;
  }

  .warning-icon {
    position: relative;
    top: 2px;
    margin-left: 11px;
    margin-right: 9px;
  }

  .second-line {
    margin-bottom: 10px;
  }

  mat-form-field{
    width: 65%;
  }

  .dialog-action-icons {
    position: relative;
    bottom: 0px;
    right: 4px;
  }

  .button-container{
    display: flex;
    justify-content: space-between;
  }
}
