<div class="login-page-container">
  <mat-card class="login-card">
    <div class="login-row">
      <img class="login-logo" src="assets/logo.svg">
      <mat-divider class="login-divider" [vertical]="true"></mat-divider>
      <div class="login-column">
        <span class="login-header">Login</span>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-container">
            <mat-form-field>
              <input type="text" required matInput placeholder="Username" formControlName="name">
            </mat-form-field>

            <mat-form-field>
              <app-toggle-password #loginPwToggle matSuffix></app-toggle-password>
              <input type="password" required matInput placeholder="Password" formControlName="password" [type]="loginPwToggle.type">
            </mat-form-field>

            <mat-card #errorBox class="error">
              {{ error }}
            </mat-card>

            <div class="login-register-container">
              <button color="primary" [disabled]="loginInProgress" mat-raised-button>Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="progress-bar progress-bar-bottom-rounded">
      <mat-progress-bar color="primary" class="login-progress" mode="indeterminate" *ngIf="loginInProgress"></mat-progress-bar>
    </div>
  </mat-card>
</div>
